
<h2>Your Profile Page</h2>

<h3><%= profile.location %></h3>
<p><%= profile.bio %></p>

<h3>Projects:</h3>

<!-- add forEach here to loop through existing projects -->

<a href="/projects/new" class="btn btn-primary">Add Project</a>

