<form action="/profile" method="POST">
  <div class="form-group">
    <label for="profileBio">Bio</label>
    <input id="profileBio" class="form-control" type="text" name="bio">
  </div>

  <div class="form-group">
    <label for="location">Location</label>
    <input id="location" class="form-control" type="text" name="location">
  </div>

  <div class="form-group input-field">
    <select id="experience" class="form-control" name="experience">
      <option value="" disabled="disabled" selected="selected">My specialty is:</option>
      <option value="Hardware">Hardware</option>
      <option value="Software">Software</option>
      <option value="Hardware + Software">Hardware + Software</option>
    </select>
  </div>

  <button class="btn btn-primary" type="submit">Save Profile</button>
</form>
