<% if (alerts.error) { %>
	<% alerts.error[0].split(',').forEach((msg) => { %>
	<div class="alert-container">
    <div class="center chip red lighten-3"><%= msg%>
      <i class="close material-icons">close</i>
    </div>   
  </div>
  <% }); %>
<% } %>

<% if (alerts.success) { %>
	<% alerts.success[0].split(',').forEach((msg) => { %>
	<div class="alert-container">
    <div class="center chip white"><%= msg%>
      <i class="close material-icons">close</i>
    </div>
  </div>
  <% }); %>
<% } %>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>