<script>var projects = <%- JSON.stringify(projects) %>;</script> 

<% if(!currentUser) { %>
  <div class="row">
  	<div class="col l6 offset-l3 center">
  		<h3 class="flow-text">Find friends to build & code your next project with!</h3>
  		<p class="display-box site-description">There is a huge community of hobbyists building projects with single board computers and a variety of software. Maker Collab brings
  		this community closer, to enable collaboration on projects without the need to join an expensive ‘maker-space’.
  		We leverage your proximity to other makers to help you find exciting things to work on together.</p>
    </div>
  </div>
<% } else { %> 
  <h3 class="flow-text center">Welcome, <%= currentUser.name %>!</h3>
  <h3 class="flow-text center">There are currently <span class="project-count"><%= projects.length %></span> project ideas for you to collaborate on!</h3><br>
<% } %>

<div class="row">
	<div class="col l6 offset-l3 m6 offset-m3 s12">
    <canvas id="myChart" width="40" height="40"></canvas>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="/js/chart.js"></script>