<h3 class="center">The place to meet other makers to build & code your next project with!</h3>
<p class="center">There is a huge community of hobbyist makers with an incredible variety of skillsets. Maker Collab brings
this community closer, to enable collaboration on projects without the need to join an expensive ‘maker-space’.
We leverage your proximity to other makers to help you find exciting things to work on together.</p>