<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Maker-Collab</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Hammersmith+One|Open+Sans:400,700" rel="stylesheet">
  </head>
  <body>
    <nav class="transparent-bg">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Maker-Collab</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if(currentUser) { %>
            <li><a href="/map">Maker-Map</a></li>
            <li><a href="/user">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
          <% } else { %>
            <li><a href="/auth/login">Login</a></li>
          <% } %>
        </ul>
      </div>
    </nav>

    <!-- Materialize nav bar for small devices -->
    <ul class="sidenav" id="mobile-demo">
      <% if(currentUser) { %>
          <li><a href="/map">Maker-Map</a></li>
          <li><a href="/user">Profile</a></li>
          <li><a href="/auth/logout">Logout</a></li>
      <% } else { %>
          <li><a href="/auth/login">Login</a></li>
      <% } %>
    </ul>
        
    <div class="container">
      <%- body %>
      <% include partials/alerts %>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/material.js"></script>
  </body>
</html>