body {
	height: 100vh;
	background: linear-gradient(to bottom right, #00c6ff, #0072ff);
	font-family: "Open Sans", sans-serif;
}

.map-container {
	margin-top: 2em;
}

.map {
  width: 70vw;
  height: 70vh;
  border-radius: 0.5em;
}

.brand-logo {
	font-family: "Hammersmith One", sans-serif;
}

.signup {
	margin-top: 20vh;
}

.transparent-bg {
	background-color: rgba(0, 0, 0, 0);
	box-shadow: none;
}

.signup-box {
	height: 30vh;
	border-radius: 10px;
}

.btn {
	border-radius: 3em;
  margin-bottom: 10px;
}

.primary-anchor {
	font-size: 26px;
	color: black;
}

.primary-anchor:hover {
  color: blue;
}

.edit-form,
.display-box {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0.5em;
}

label {
	color: black;
}

