body {
	height: 100vh;
	background: linear-gradient(to bottom right, #00c6ff, #0072ff);
	font-family: "Open Sans", sans-serif;
}

.map-container {
	margin-top: 2em;
}

.map {
  width: 70vw;
  height: 70vh;
  border-radius: 0.5em;
}

.brand-logo {
	font-family: "Hammersmith One", sans-serif;
}

.signup {
	margin-top: 20vh;
}

.transparent-bg {
	background-color: rgba(0, 0, 0, 0);
	box-shadow: none;
}

.signup-box {
	height: 30vh;
	border-radius: 10px;
}

.btn {
	border-radius: 3em;
  margin-bottom: 10px;
}

.primary-anchor {
	font-size: 26px;
	color: black;
}

.primary-anchor:hover {
  color: blue;
}

.edit-form,
.display-box {
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0.5em;
}

.project-show {
  margin-top: 10vh;
}

label {
	color: black;
}

.tag {
	display: inline;
	margin-right: 1em;
	padding: 0.5em 1em;
	background-color: #222;
	border-radius: 3em;
	color: white;
}

.button-pair {
	margin-top: 1em;
}

.dropdown-content li>span {
	color: black;
}

.dropdown-content {
	border-radius: 1em;
}

input[type=text]:not(.browser-default):focus, 
input[type=password]:not(.browser-default):focus, 
input[type=email]:not(.browser-default):focus {
	border-bottom-color: blue !important;
}


