<h2><%= user.name %>'s Profile</h2>
<h3>Projects:</h3>

<!-- <div class="row"> -->
  <!-- add forEach here to loop through existing projects -->
  <% projects.forEach(function(project) { %>
    <div class="display-box col s12 l12">
  	  <a class="primary-anchor" href="/projects/<%= project.id %>"><%= project.title %></a>
    </div><br>
  <% }); %>
<!-- </div> -->

<a href="/projects/new" class="btn btn-primary right">Add Project</a>

