<h2><%= user.name %>'s Profile</h2>

<h3>Bio:</h3>
<p><%= user.bio %></p>

<h3>Projects:</h3>

  <!-- add forEach here to loop through existing projects -->
  <% projects.forEach(function(project) { %>
    <div class="display-box col s12 l12">
  	  <a class="primary-anchor" href="/projects/<%= project.id %>"><%= project.title %></a>
    </div><br>
  <% }); %>

