<form action="/map/filter" method="POST" class="filter-map">
  <div class="row"> 
    <div class="form-group input-field col s8 l3 offset-l4">
      <select id="tagFilter" class="form-control" name="tagFilter">
        <option value="" disabled="disabled" selected="selected">Select Tag:</option>
        <option value="arduino">Arduino</option>
        <option value="raspberry-pi">Raspberry Pi</option>
        <option value="intel-edison">Intel Edison</option>
        <option value="asus-tinker">ASUS Tinker Board</option>
        <option value="odroid">Odroid</option>
        <option value="javascript">JavaScript</option>
        <option value="python">Python</option>
        <option value="java">Java</option>
        <option value="c++">C++</option>
        <option value="ruby">Ruby</option>
        <option value="processing">Processing</option>
      </select>
    </div>
    <div class="form-group input-field col s4 l2">
      <button class="btn blue" type="submit">Filter</button>
    </div>
    <% if(projects.length === 0) { %>
      <div class="col s12 l3"><p>No projects found with that tag!</p></div>
    <% } %>
  </div>
</form>

<div class="row">
    <div class="map col l12 m12 s12" id="map"></div>
    <div id='geocoder' class='geocoder'></div>
</div>

<script src='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet'/>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.css' type='text/css' />
<script>
  var projects = <%- JSON.stringify(projects) %>;
  var mapboxToken = <%- JSON.stringify(mapboxToken) %>;
</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/createMap.js"></script>

