
<form action="/map/filter" method="POST">
  <div class="row"> 
    <div class="form-group input-field col s8 l3 offset-l4">
      <select id="tagFilter" class="form-control" name="tagFilter">
        <option value="" disabled="disabled" selected="selected">Select Tag:</option>
        <option value="arduino">Arduino</option>
        <option value="raspberry-pi">Raspberry Pi</option>
        <option value="intel-edison">Intel Edison</option>
        <option value="asus-tinker">ASUS Tinker Board</option>
        <option value="odroid">Odroid</option>
        <option value="javascript">JavaScript</option>
        <option value="python">Python</option>
        <option value="java">Java</option>
        <option value="c++">C++</option>
        <option value="ruby">Ruby</option>
        <option value="processing">Processing</option>
      </select>
    </div>
    <div class="form-group input-field col s4 l2">
      <button class="btn blue" type="submit">Filter Map</button>
    </div>
    <% if(projects.length === 0) { %>
      <div class="col s12 l3"><p>No projects found with that tag!</p></div>
    <% } %>
  </div>
</form>

<div class="map-container row">
	<div class="col l1 m8 s12">
		<div class="map" id="map"></div>
	</div>
</div>

<div id='geocoder' class='geocoder'></div>

<script>
	var projects = <%- JSON.stringify(projects) %>;
  var mapboxToken = <%- JSON.stringify(mapboxToken) %>;
</script>

<script src="/js/createMap.js"></script>

