<h1>Edit Project:</h1>

<form action="/projects/<%= project.id %>" method="POST" class="edit-form">
  <div class="form-group">
    <label for="proj-title">Project Title</label>
    <input id="proj-title" class="form-control" type="text" name="title" required>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input id="description" class="form-control" type="text" name="description" required>
  </div>

  <div class="form-group">
    <label for="code">Code Snippets</label>
    <input id="code" class="form-control" type="text" name="code">
  </div>

  <div class="form-group input-field">
    <select id="lookingFor" class="form-control" name="lookingFor">
      <option value="" disabled="disabled" selected="selected">Looking for people with experience in:</option>
      <option value="Arduino">Arduino</option>
      <option value="Raspberry Pi">Raspberry Pi</option>
      <option value="Intel Edison">Intel Edison</option>
      <option value="Intel Edison">Asus Tinker Board</option>
      <option value="Intel Edison">BeagleBone</option>
      <option value="Intel Edison">Qualcomm Dragonboard</option>
    </select>
  </div>

  <div class="form-group">
    <label for="tags">Tags</label>
    <input type="text" class="form-control" id="tags" name="tagName">
  </div>

  <button class="btn btn-primary" type="submit">Save Changes</button>
</form>